<div class="container">
  <div class="row">
  	<form>
    <div class="form-group col-md-5">
     <label for="title">Movie Title:</label>
    <input type="text" class="form-control" id="title" placeholder="Enter movie title" ng-model="title">
    </div>
   
   <div class="form-group col-md-5">
    <label for="year">Released Year:</label>
    <input type="text" class="form-control" id="year" placeholder="Enter released year" ng-model="year">
    </div>

    <div class="col-md-2">
    <br>
    <button type="submit" class="btn btn-success " ng-click="addMovie()">Add</button>
    </div>
  </form>
  </div>
</div>